# Ignorar archivos y carpetas del sistema
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dotnet/
.fig.dotfiles.bak/
.fig/
.gitconfig
.gnupg/
.lesshsQ
.local/
.npm/
.nvm/
.oh-my-zsh/
.pam_environment
.pki/
.profile
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.thunderbird/
.vscode/
.vuerc
.wget-hsts
.yarnrc
.zcompdump
.zcompdump-rafaela-GL753VD-5.8.1
.zcompdump-rafaela-GL753VD-5.8.1.zwc
.zprofile
.zsh_history
.zshrc

# Ignorar carpetas y archivos fuera del proyecto
../
../../
../../../
node_modules/
snap/
yarn.lock